body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: white;
    padding: 1em 0;
}

nav {
    background-color: #757575;
}

main {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.custom-link {
    color: #ffffff; /* White text color */
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link,
.navbar-light .nav-link {
    text-align: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ensure equal spacing */
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-item {
    flex: 1; /* Equal spacing for all items */
    text-align: center;
}

/* Centering the navbar brand */
.navbar-brand {
    margin: auto;
}

.navbar-primary {
    background-color: #000000; /* Dark background for the primary navbar */
    color: #ffffff; /* White font color */
}

.navbar-secondary {
    background-color: #757575; /* Dark background for the secondary navbar */
    color: #ffffff; /* White font color */
}

/* Media queries to adjust the font size based on screen width */
@media (max-width: 768px) {
    .navbar-primary .nav-link,
    .navbar-secondary .nav-link {
        font-size: 1em; /* Smaller font size for smaller screens */
    }
    .navbar-primary .navbar-brand,
    .navbar-secondary .navbar-brand {
        font-size: 1.2em; /* Smaller font size for smaller screens */
    }
}
